<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.ico' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Profile</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />



  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link href="{% static '/assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/demo.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static '/css/all.css' %}">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

  <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/js/bootstrap-table.js' %}"></script>

  <!--  Just for demo purpose, do not include in your project   -->
  <script src="{% static '/assets/js/demo/gsdk-switch.js' %}"></script>
  <script src="{% static '/assets/js/demo/jquery.sharrre.js' %}"></script>
  <script src="{% static '/assets/js/demo/demo.js' %}"></script>

</head>
<body>
  {% if user.is_authenticated %}

<div class="wrapper">
  <div class="container">
    <div class="row">
      
           
          </a>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      
      <div class="col-md-9">
        <div class="description">
          <h2> <a href="{% url 'profile' %}">DMCV</a></h2>
        </div>

            {% if  diagnostic  %}
            <table class="table table-sm">
            
            <thead>
              <tr>
                <th scope="col">{{ diagnostic}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Date du diagnostic</th>
                <td>{{ diagnostic.date}} </td>
              </tr>
              <tr>
                <th scope="row">Chest pain type</th>
                <td>{{diagnostic.cp}}</td>
              </tr>
              <tr>
                <th scope="row">Resting blood pressure</th>
                <td>{{ diagnostic.trestbps }}</td>
              </tr>
              <tr>
                <th scope="row">Serum cholestoral</th>
                <td>{{diagnostic.chol}}</td>
              </tr>
              <tr>
                <th scope="row">Fasting blood sugar</th>
                <td>{{diagnostic.fbs}}</td>
              </tr>
              <tr>
                <th scope="row">Resting electrocardiographic results</th>
                <td>{{diagnostic.restecg}}</td>
              </tr>
              <tr>
                <th scope="row">Maximum heart rate achieved</th>
                <td>{{diagnostic.thalach}}</td>
              </tr>
              <tr>
                <th scope="row">Exercise induced angina</th>
                <td>{{diagnostic.exang}}</td>
              </tr>
              <tr>
                <th scope="row">Oldpeak</th>
                <td>{{diagnostic.oldpeak}}</td>
              </tr>
              <tr>
                <th scope="row">Slope</th>
                <td>{{diagnostic.slope}}</td>
              </tr>
              <tr>
                <th scope="row">Number of major vessels</th>
                <td>{{diagnostic.ca}}</td>
              </tr>
              <tr>
                <th scope="row">Thal</th>
                <td>{{diagnostic.thal}}</td>
              </tr>
              <tr>
                <th scope="row">Ordonnance</th>
                <td>{{prescription.ordonnance}}</td>
              </tr>
              <tr>
                <th scope="row">Notes importantes :</th>
                <td>{{prescription.notesImportantes}}</td>
              </tr>

            </tbody>
          </table>
          <button onclick="window.print()">Imprimer</button>
          {% endif %}
         

          {% if not diagnostic %}
          <div class="fresh-table full-color-azure">
            <p>Erreur</p>
          </div>
          {% endif %}


        <div class="description description-footer">
          <p>DMCV Copyright &copy; 2021.</p>
        </div>
      </div>

    </div>
  </div>
</div>



{% endif %}
</body>
  <script type="text/javascript">
    var $table = $('#fresh-table')
    var $alertBtn = $('#alertBtn')

    window.operateEvents = {
      'click .like': function (e, value, row, index) {
        alert('You click like icon, row: ' + JSON.stringify(row))
        console.log(value, row, index)
      },
      'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row))
        console.log(value, row, index)
      },
      'click .remove': function (e, value, row, index) {
        $table.bootstrapTable('remove', {
          field: 'id',
          values: [row.id]
        })
      }
    }

    function operateFormatter(value, row, index) {
      return [
        '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
          '<i class="fa fa-heart"></i>',
        '</a>',
        '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
          '<i class="fa fa-edit"></i>',
        '</a>',
        '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
          '<i class="fa fa-remove"></i>',
        '</a>'
      ].join('')
    }

    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',

        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [2, 5, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })

      $alertBtn.click(function () {
        alert('You pressed on Alert')
      })
    })

    $('#sharrreTitle').sharrre({
      share: {
        twitter: true,
        facebook: true
      },
      template: '',
      enableHover: false,
      enableTracking: true,
      render: function (api, options) {
        $("#sharrreTitle").html('Thank you for ' + options.total + ' shares!')
      },
      enableTracking: true,
      url: location.href
    })

    $('#twitter').sharrre({
      share: {
        twitter: true
      },
      enableHover: false,
      enableTracking: true,
      buttons: { twitter: {via: 'CreativeTim'}},
      click: function (api, options) {
        api.simulateClick()
        api.openPopup('twitter')
      },
      template: '<i class="fa fa-twitter"></i> {total}',
      url: location.href
    })

    $('#facebook').sharrre({
      share: {
        facebook: true
      },
      enableHover: false,
      enableTracking: true,
      click: function (api, options) {
        api.simulateClick()
        api.openPopup('facebook')
      },
      template: '<i class="fa fa-facebook-square"></i> {total}',
      url: location.href
    })
  </script>



</html>
