{% extends "base_log.html" %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-md-6 pl-2">
				<div class="card">
					<div class="card-title">
						<h3 class="text-center">Réinitialisation du mot de passe</h3>
						<hr>
					</div>
				  
					 <div class="card-body">
						<form action="" method="post">
							{% csrf_token %}
							{% load bootstrap_tags %}
                            {{ form|as_bootstrap }}
							{% if form.email.errors %}
								{{ form.email.errors }}
							{% endif %}

							<!-- <p>Entrez votre email</p>
							<p>{{ form.email }}</p> -->
							<input type="submit" class="btn btn-info btn-lg" value="Réinitialisez">
						</form>
			      </div>
		      </div>
		    </div>

	    </div>	
	
     </div>	
{% endblock %}
